.btn {
  color: var(--white);
  border: none;
  border-radius: 10px;
  background-color: var(--accent);
  padding: 0.9rem 1.2rem;
  font-weight: 700;

  transition: background-color 200ms ease;
}

.btn:hover {
  background-color: var(--accent-hvr);
  cursor: pointer;
}
